/*
.txtinput {
	padding:10px;
	margin-bottom:15px;
	border:1px solid #AFAFAF;
	background-color:#f9f9f9;
	display:block;width:364px;
	border-radius:5px;
	border-top:2px solid #AFAFAF;
	color:#666666;
}
hr {
	margin-bottom:35px;
}
.set {
	width:880px;
	margin:auto;
	border:1px solid #CCCCCC;
	padding:3px;
	margin-bottom:20px;
	background-color:#f1f1f1;
}
.row {
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-top:1px solid #FFFFFF;
	padding:12px 25px 8px 25px;
}
.set .row:first-child {
	border-top:1px solid #CCCCCC;
}
h1 {
	color:#646464;
	text-transform:uppercase;
	margin:12px 0px 12px 0px;
	text-align:center;
	font-weight:bold;
}
h2 {
	color:#646464;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:1px;
	margin-bottom:6px;
}

.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
textarea{
	resize: none !important;
}
#formContainer {
    padding-top: 80px;
    padding-bottom: 20px;
}
.controls {
    position: fixed !important;
    top: 0px;
    z-index: 20;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px !important;
    height: 60px;
    background: #2D2D2D;
}
button, input[type="submit"] {
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: auto;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #B4B4B4;
    margin-top: 10px;
    color: #B4B4B4;
    background: none;
    height: 40px;
}
.controls input[type="submit"] {
    float: left;
}
.controls button:first-of-type {
    margin-right: 0px;
    margin-left: 30px;
}
.controls button {
    float: left;
}
#preview, #source {
    min-height: 100%;
    width: 100%;
    display: none;
    background: rgb(220, 220, 220);
    text-align: center;
}
#preview .container{
	float: none;
	margin: auto;
}
button.exit {
    background: none;
    color: #963232;
    border: 1px solid #963232;
    font-size: 15px;
    border-radius: 2px;
    margin-left: 10px !important;
}
.container {
    text-align: center;
    overflow: auto;
    background: #FFF none repeat scroll 0% 0%;
    width: 750px;
    margin: auto;
    float: none;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
    border-left: 20px solid rgb(35, 35, 35);
    border-right: 20px solid rgb(35, 35, 35);
}
.container table, .container div{
	margin: auto;
	float: none;
}
button.exit:hover{
	background: rgba(0, 0, 0, 0.2);
}
.controls button:hover, .controls input[type="submit"]:hover{
	background: rgba(255, 255, 255, 0.1);
}
button:focus, input[type="submit"]:focus{
	outline: none;
}
input[type="submit"].done{
	border: 1px solid RGB(127, 194, 57);
	color: RGB(127, 194, 57);
}
input[type="submit"].errorAnimated{
	animation: reminder 2s ease-in-out;
	animation-fill-mode: forwards;
}
.inactive{
	border: 1px solid rgb(100, 100, 100) !important;
	color: rgb(100, 100, 100) !important;
}
.inactive:hover{
	background: none !important;
}
a{
	text-decoration: none !important;
}
div.controls{
	border: none !important;
}



*/
@keyframes reminder {
	0%{
		border: 1px solid #B4B4B4;
		color: #B4B4B4;
	}
	20%{
		color: #963232;
		border: 1px solid #963232;
	}
	40%{
		border: 1px solid #B4B4B4;
		color: #B4B4B4;
	}
	60%{
		color: #963232;
		border: 1px solid #963232;
	}
	80%{
		border: 1px solid #B4B4B4;
		color: #B4B4B4;
	}
	100%{
		color: #963232;
		border: 1px solid #963232;
	}
}
xmp{
	word-break: normal;
	word-wrap: break-word;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid rgb(200, 200, 200);
	display: none;
	background: white;
	margin: 0px;
}
xmp:focus{
	outline: none;
}
h2{
	font-size: 1em;
}
input{
	padding-top: 2px;
	padding-bottom: 2px;
}
textarea{
	resize: none;
}
.build{
	background: rgb(225, 225, 225);
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.build{
	
}
button:focus, input:focus, select:focus, textbox:focus, a:focus{
	outline: none;
}