<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="100%" align="center" class="blockme" valign="top" style="padding-right: 5px;">
				<table align="center" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="center"></td>
						</tr>
						<tr>
							<td align="center">
								<a class="myCTA">
									<img border="0" width="90%" />
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>