<table width="580" border="0" cellspacing="0" cellpadding="0" class="fullwidth" align="center">
	<tbody>
		<tr>
			<td style="padding: 15px 5px;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td style="padding-bottom: 15px; line-height: 20px; text-decoration: none; color: #4d6060; font-family: &apos;Open Sans&apos;, Verdana; font-size: 16px;" align="left" class="item_container" %%=v(@Item_Container_Style)=%%>
												<span id="myCopy"></span>
											</td>
										</tr>
									</tbody>
								</table>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr style="padding: 0px 50px;">
											<td align="center" bgcolor="#ffffff" style="padding: 0px 40px 10px;" class="item_container" %%=v(@Item_Container_Style)=%%>
												<table class="fullwidth" align="center" border="0" cellspacing="0" cellpadding="0">
											</table>