<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tbody>
      <tr>
         <td width="100%" align="center" class="blockme" valign="top" style="padding-right: 5px;">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
               <tbody>
                  <tr>
                     <td width="100%" align="center" valign="middle">{{ copy }}</td>
                  </tr>
                  <tr>
                     <td align="center" style="text-align: center;">
                     <table width="50%" border="0" cellspacing="0" cellpadding="0">
                     	<a class="myCTA" href="{{ href }}">
                 			<img border="0" src="{{ break }}{{ typeSrc }}{{color}}" alt="Learn More"/>
                 		</a>
                     </table>
                     <table width="50%" border="0" cellspacing="0" cellpadding="0">
                     </table>
                     	<a class="myCTA" href="{{ href2 }}">
                     		<img border="0" src="{{ break }}{{ typeSrc2 }}{{color2}}" alt="Learn More"/>
                     	</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>