<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tbody>
      <tr>
         <td width="100%" align="center" class="blockme" valign="top" style="padding-right: 5px;">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
               <tbody>
                  <tr>
                     <td width="100%" align="center" valign="middle">{{ copy }}</td>
                  </tr>
                  <tr>
                     <td align="center" style="text-align: center;">
                     	<a class="myCTA" href="{{ href }}">
                     		<img border="0" src="{{ break }}{{ typeSrc }}" alt="Learn More"/>
                     	</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!--
</td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table>
-->