<!doctype html>
<html class="no-js" ng-app="codegen">

<head>
	<meta charset="UTF-8" />
	<title>ET Code Home</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/foundation.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/viewer.css" />
	<link rel="stylesheet" href="css/sweetalert.css" />
	
	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/modernizr.js"></script>
	
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/angular-route.js"></script>
	<script src="js/angular/angular-sanitize.js"></script>
	
	<script src="js/sweetalert.min.js"></script>
	<script src="js/zeroclipboard.min.js"></script>
	
	<!--
	<script src="js/lib/beautify.js"></script>
	<script src="js/lib/beautify-css.js"></script>
	<script src="js/lib/beautify-html.js"></script>
	<script src="js/test/sanitytest.js"></script>
	<script src="js/test/beautify-javascript-tests.js"></script>
	<script src="js/test/beautify-css-tests.js"></script>
	<script src="js/test/beautify-html-tests.js"></script>
	<script src="js/lib/unpackers/javascriptobfuscator_unpacker.js"></script>
	<script src="js/lib/unpackers/urlencode_unpacker.js"></script>
	<script src="js/lib/unpackers/p_a_c_k_e_r_unpacker.js"></script>
	<script src="js/lib/unpackers/myobfuscate_unpacker.js"></script>
	
	-->
	<link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/8.7/styles/monokai.min.css">
	<script src="http://cdn.jsdelivr.net/highlight.js/8.7/highlight.min.js"></script>
	
	<!--
	<script src="js/prism.js"></script>
	<link rel="stylesheet" href="css/prism.css">
	-->
	<script src="js/angular/app.js"></script>
	<script src="js/angular/directives.js"></script>
	<script src="js/angular/filters.js"></script>
	<script src="js/angular/controllers.js"></script>
	
	
</head>

<body ng-controller="globalController">
	
	<div class="fixed">
		<nav class="top-bar" data-topbar role="navigation">
		 <section class="top-bar-section">

		   	<ul class="left">
		   		<li><a ng-click="$rootScope.updateView()">Regenerate</a></li>
		     	<li class="has-dropdown">
			        <a>Layout</a>
			        <ul class="dropdown">
				        <li class="active"><a href="#/" ng-click="makeActive($event)">Default</a></li>
				        <li><a href="#/product-alert" ng-click="makeActive($event)">Product Alert</a></li>
				        <li><a href="#/product-update" ng-click="makeActive($event)">Product Update</a></li>
				        <li><a href="#/blank" ng-click="makeActive($event)">Blank</a></li>
		       		</ul>
		     	</li>
		     	<li class="divider"></li>
		     	<li><a ng-click="collapseAll()">Collapse All</a></li>
		     	<li><a ng-click="expandAll()">Expand All</a></li>
		     
		   	</ul>
			
		  	<ul class="right">
		   		<li><a ng-click="breakImg($event)">Break Images</a></li>
		    	<li class="divider"></li>
		      	<li class="active"><a ng-click="showDesignView($event)">Show Design</a></li>
		      	<li><a ng-click="showCodeView($event)">Show Code</a></li>
		   	</ul>
		    
		 </section>
		</nav>
	</div>
	
	<div id="container">
	
		<div class="small-12 medium-6 large-5 columns make-margin-top">
			
			<div id="sections" createsection ng-view></div>
			<!-- Sections -->
			
			<div class="new-section-wrap">
				<div class="header small-12 columns new-section keep-pad-left" ng-click="slide($event)">
					<div class="left">
						<h2>New Section</h2>
					</div>
					<div class="right">
						<div class="vis">
							<a class="add-section"><i class="fa fa-plus" ng-mouseover="changeBackground($event, 'green')" ng-mouseout="changeBack($event)"></i></a>
						</div>
					</div>
				</div>
				<div class="large-12 columns build section close-top collapsed chbg black">
					
					<div class="icon-bar three-up" >
					  <a class="item" id="banner" type="banner" ng-click="newSection($event, element, attr)">
					    <i class="fa fa-th"></i>
					    <label>Banner</label>
					  </a>
					  <a class="item" id="cta" ng-click="newSection($event, element)">
					    <i class="fa fa-th-large" ></i>
					    <label>CTA</label>
					  </a>
					  <a class="item" id="fea" ng-click="newSection($event, element)">
					    <i class="fa fa-th-list"></i>
					    <label>Featured</label>
					  </a>
					  <a class="item" id="tcs" ng-click="newSection($event, element)">
					    <i class="fa fa-th-list"></i>
					    <label>Two Column</label>
					  </a>
					  <a class="item" id="sbs" ng-click="newSection($event, element)">
					  	<i class="fa fa-th-large"></i>
					  	<label>Side by Side</label>
					  </a>
					  <a class="item" id="tb" ng-click="newSection($event, element)">
					  	<i class="fa fa-th"></i>
					  	<label>Top-Bottom</label>
					  </a>
					</div>
				</div>
			</div>
			<!-- Create new section -->
		</div>
		
		<div class="small-12 medium-6 large-7 columns viewWrap" ng-controller="codeController">
			<div id="viewer" showdesign></div>
			<div id="sourceViewer" showcode></div>
		</div>
	
	</div>
	
	<script src="js/foundation.min.js"></script>
	<script src="js/foundation/foundation.topbar.js"></script>
	
	<script>
	$(document).foundation();
	/*
	$('code').each(function(i, block) {
	    hljs.highlightBlock(block);
	});
	
	$(window).ready(function(){
	
	$('.hljs').each(function(i, block) {
	    hljs.highlightBlock(block);
	});
	})
	*/
	
	</script>
	
	</body>
</html>

