<div class="banner original">
	<div class="header small-12 columns banner">
		<div class="left">
			<h2>Banner</h2>
		</div>
		<div class="right">
			<a class="settings"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns banner build section close-top visible" ng-controller="bannerController">
		<div class="row">
			<label>Image URL (690 x 374)
				<input type="text" class="txtinput" value="{{ break }}http://placehold.it/690x374" ng-model="src" />
			</label>
		</div>
		<div class="row">
			<label>Link URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="href" />
			</label>	
		</div>
		<div class="row">
			<label>Title
				<input type="text" class="txtinput" value="Evenflo" ng-model="alt" />
			</label>
		</div>
		<div class="options banner">
			<button class="source">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	Banner Email HTML
	    -->
	   	<xmp class="banner large-12 columns buildcode hljs html" type="banner" codeinject></xmp>
	    
	</div>
</div>
<!-- End Banner Build -->
<div class="cta original">
	<div class="header small-12 columns cta">
		<div class="left">
			<h2>CTA</h2>
		</div>
		<div class="right">
			<a class="settings"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns cta build section close-top" ng-controller="ctaController">
		<div class="row">
			<label>Copy (HTML)
		    	<textarea class="txtinput" rows="6" value='<h1 style="font-size: 25px">Evenflo Products are the best!</h1><p style="font-size: 12px; margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla dictum arcu, nec feugiat odio semper ac. Curabitur quam metus, pulvinar vel mauris finibus, fermentum tempor quam.</p>' ng-model="copy"></textarea>
			</label>
		</div>
		<div class="row">
			<label>Link URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="href" />
			</label>
		</div>
		<label>Button
		   <div class="small-12 columns no-pad">
		    	<div class="row collapse">
		           <div class="small-3 columns">
		        		<select ng-model="color" class="prefix">
		        		   <option id="optBlue" value="blue">Blue</option>
		        		   <option id="optGreen" value="green">Green</option>
		        		</select>
		           </div>
		           <div class="small-9 columns">
		        	   <select ng-model="typeSrc" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/shop-now.png">
		        	       <option id="opt1" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/shop-now-{{color}}.png" label="Shop Now">Shop Now</option>
		        	       <option id="opt2" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/buy-now-{{color}}.png" label="Buy Now">Buy Now</option>
		        	       <option id="opt3" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/learn-more-{{color}}.png" label="Learn More">Learn More</option>
		        	       <option id="opt4" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/enter-to-win-{{color}}.png" label="Enter to Win">Enter To Win</option>
		        	   </select>
		           </div>
		       </div>
		   </div>
		</label>
		<div class="options cta">
			<button class="source">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	CTA Email HTML
	    -->
	   	<xmp class="cta large-12 columns buildcode hljs html" type="cta" codeinject></xmp>
	    
	</div>
</div>
<!-- end CTA Build -->
<div class="fea original">
	<div class="header small-12 columns fea">
		<div class="left">
			<h2>Featured (3 Columns)</h2>
		</div>
		<div class="right">
			<a class="settings"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns fea build section close-top" ng-controller="feaController">
		<div class="row">
			<label>Image URL (180 X 99)
				<input type="text" class="txtinput" value="{{ break }}http://placehold.it/180x99" ng-model="fea1src">
			</label>
			
			<label>Caption
				<input type="text" class="txtinput" value="Caption 1" ng-model="fea1cap">
			</label>
			
			<label>URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="fea1url">
			</label>
		</div>
		<hr />
		<div class="row">
			<label>Thumbnail Path (180 X 99)
				<input type="text" class="txtinput" value="{{ break }}http://placehold.it/180x99" ng-model="fea2src">
			</label>
			
			<label>Caption
				<input type="text" class="txtinput" value="Caption 2" ng-model="fea2cap">
			</label>
			
			<label>URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="fea2url">
			</label>
		</div>
		<hr />
		<div class="row">
			<label>Thumbnail  Path (180 X 99)
				<input type="text" class="txtinput" value="{{ break }}http://placehold.it/180x99" ng-model="fea3src">
			</label>
			
			<label>Caption
				<input type="text" class="txtinput" value="Caption 3" ng-model="fea3cap">
			</label>
			
			<label>URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="fea3url">
			</label>
		</div>
		<div class="options fea">
			<button class="source">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	Featured Email HTML
	    -->
	   <xmp class="fea large-12 columns buildcode hljs html" type="fea" codeinject></xmp>
	</div>
</div>
<!-- End Featured Build -->
<div class="tcs original">
	<div class="header small-12 columns tcs">
		<div class="left">
			<h2>Two Column Section</h2>
		</div>
		<div class="right">
			<a class="settings"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns tcs build section close-top" ng-controller="tcsController">
		<div class="row">
			<label>Image URL
			<input type="text" class="txtinput" value="{{ break }}http://placehold.it/620x222" ng-model="tcs1src" />
			</label>
			
			<label>Caption
			<input type="text" class="txtinput" value="Caption 1" ng-model="tcs1cap" />
			</label>
			
			<label>Button Text
			<input type="text" class="txtinput" value="READ MORE" ng-model="tcs1but" />
			</label>
			 
			<label>URL
			<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="tcs1url" />
			</label>
		</div>
		<hr />
		<div class="row">
			<label>Image URL
			<input type="text" class="txtinput" value="{{ break }}http://placehold.it/620x222" ng-model="tcs2src" />
			</label>
			
			<label>Caption
			<input type="text" class="txtinput" value="Caption 2" ng-model="tcs2cap" />
			</label>
			
			<label>Button Text
			<input type="text" class="txtinput" value="READ MORE" ng-model="tcs2but" />
			</label>
			 
			<label>URL
			<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="tcs2url" />
			</label>
		</div>
		<div class="options tcs">
			<button class="source">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	TCS Email HTML
	    -->
	    <pre><code class="tcs large-12 columns buildcode hljs html language-html" type="tcs" codeinject>
	    
	    <!--
	   <xmp type="tcs" codeinject></xmp>
	   -->
	   
	   </code></pre>
	  </div>
</div>
<!-- End Two Column Section -->
<div class="tcs original">
	<div class="header small-12 columns tcs">
		<div class="left">
			<h2>Two Column Section</h2>
		</div>
		<div class="right">
			<a class="settings"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns tcs build section close-top" ng-controller="tcsController">
		<div class="row">
			<label>Image URL
			<input type="text" class="txtinput" value="{{ break }}http://placehold.it/620x222" ng-model="tcs1src" />
			</label>
			
			<label>Caption
			<input type="text" class="txtinput" value="Caption 1" ng-model="tcs1cap" />
			</label>
			
			<label>Button Text
			<input type="text" class="txtinput" value="READ MORE" ng-model="tcs1but" />
			</label>
			 
			<label>URL
			<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="tcs1url" />
			</label>
		</div>
		<hr />
		<div class="row">
			<label>Image URL
			<input type="text" class="txtinput" value="{{ break }}http://placehold.it/620x222" ng-model="tcs2src" />
			</label>
			
			<label>Caption
			<input type="text" class="txtinput" value="Caption 2" ng-model="tcs2cap" />
			</label>
			
			<label>Button Text
			<input type="text" class="txtinput" value="READ MORE" ng-model="tcs2but" />
			</label>
			 
			<label>URL
			<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="tcs2url" />
			</label>
		</div>
		<div class="options tcs">
			<button class="source">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	TCS Email HTML
	    -->
	    <pre><code class="tcs large-12 columns buildcode hljs html language-html" type="tcs" codeinject>
	    
	    <!--
	   <xmp type="tcs" codeinject></xmp>
	   -->
	   
	   </code></pre>
	  </div>
</div>
<!-- End Two Column Section -->