<div class="banner original">
	<div class="header small-12 columns banner">
		<div class="left">
			<h2>Banner</h2>
		</div>
		<div class="right">
			<a class="settings"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns banner build section close-top visible" ng-controller="bannerController">
		<div class="row">
			<label>Image URL (690 x 374)
				<input type="text" class="txtinput" value="{{ break }}http://placehold.it/690x374" ng-model="src" />
			</label>
		</div>
		<div class="row">
			<label>Link URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="href" />
			</label>	
		</div>
		<div class="row">
			<label>Title
				<input type="text" class="txtinput" value="Evenflo" ng-model="alt" ng-click="tester()"/>
			</label>
		</div>
		<div class="options banner">
			<button class="source">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	Banner Email HTML
	    -->
	   	<xmp class="banner large-12 columns hljs html" type="banner" codeinject contenteditable ng-model="something"></xmp>
	    
	</div>
</div>
<!-- End Banner Build -->

<script>

	var num = 0;
	
	$('xmp.banner').on('click focus', function(){
		var $cloned = $(this).clone().html();
		$(this).removeAttr('codeinject type').removeClass('ng-binding').attr('ng-non-bindable').text($cloned);
		
	});
	
</script>