<div class="build-section">
	<div class="header small-12 columns" ng-click="slide($event)">
		<a class="left handle"><i class="fa fa-ellipsis-v"></i></a>
		<div class="left">
			<div class="section-id left">
				<h2>CTA - Two Buttons</h2>
			</div>
		</div>
		<div class="right">
			<a class="tools" ng-click="clone()"><i class="fa fa-clone"></i></a>
			<a class="tools" ng-click="settings()"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete" ng-click="deleteSection($event)"><i class="fa fa-trash-o" ng-mouseover="changeBackground($event, 'red')" ng-mouseout="changeBack($event)"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns build section close-top collapsed" ng-controller="ctaController">
		<div class="row">
			<label>Heading
				<input type="text" class="txtinput" value="Here, have a heading!" ng-model="heading" ng-focus="inputFocus($event)" ng-blur="inputOffFocus($event)"/>
			</label>
		</div>
		<div class="row">
			<label>Copy (HTML)
		    	<textarea class="txtinput" rows="6" value='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla dictum arcu, nec feugiat odio semper ac. Curabitur quam metus, pulvinar vel mauris finibus, fermentum tempor quam.' ng-model="copy" ng-focus="inputFocus($event)" ng-blur="inputOffFocus($event)"></textarea>
			</label>
		</div>
		<label class="right">Button One</label>
		<hr />
		<div class="row">
			<label>Link URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="href" ng-focus="inputFocus($event)" ng-blur="inputOffFocus($event)"/>
			</label>
			<label>Button
			   <div class="small-12 columns no-pad">
			    	<div class="row collapse">
			           <div class="small-3 columns">
			        		<select ng-model="color" class="prefix" value="blue.png">
			        		   <option value="blue.png" selected>Blue</option>
			        		   <option value="green.png">Green</option>
			        		   <option value="outline.png">Outline</option>
			        		</select>
			           </div>
			           <div class="small-9 columns">
			        	   <select ng-model="typeSrc" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/shop-now-">
			        	       <option id="opt1" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/shop-now-" label="Shop Now" selected>Shop Now</option>
			        	       <option id="opt2" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/buy-now-" label="Buy Now">Buy Now</option>
			        	       <option id="opt3" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/learn-more-" label="Learn More">Learn More</option>
			        	       <option id="opt4" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/enter-to-win-" label="Enter to Win">Enter To Win</option>
			        	   </select>
			           </div>
			       </div>
			   </div>
			</label>
		</div>
		<label class="right">Button Two</label>
		<hr />
		<div class="row" class="ng-hide">
			<label>Link URL
				<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="href2" ng-focus="inputFocus($event)" ng-blur="inputOffFocus($event)"/>
			</label>
			<label>Button
			   <div class="small-12 columns no-pad">
			    	<div class="row collapse">
			           <div class="small-3 columns">
			        		<select ng-model="color2" class="prefix" value="green.png">
			        		   <option value="blue.png" selected>Blue</option>
			        		   <option value="green.png">Green</option>
			        		   <option value="outline.png">Outline</option>
			        		</select>
			           </div>
			           <div class="small-9 columns">
			        	   <select ng-model="typeSrc2" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/learn-more-">
			        	       <option id="opt1" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/shop-now-" label="Shop Now" selected>Shop Now</option>
			        	       <option id="opt2" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/buy-now-" label="Buy Now">Buy Now</option>
			        	       <option id="opt3" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/learn-more-" label="Learn More">Learn More</option>
			        	       <option id="opt4" value="http://image.exct.net/{{ break }}lib/fe5e15707d6c007a7410/m/1/enter-to-win-" label="Enter to Win">Enter To Win</option>
			        	   </select>
			           </div>
			       </div>
			   </div>
			</label>
		</div>
		<div class="options">
			<button ng-click="viewSource($event)">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	CTA Email HTML
	    -->
	   	<xmp class="large-12 columns html" type="cta-twobuttons" codeinject watchme contenteditable></xmp>
	    
	</div>
</div>
<!-- end CTA Build -->