<div class="tcs original">
	<div class="header small-12 columns tcs">
		<div class="left">
			<h2>Two Column Section</h2>
		</div>
		<div class="right">
			<a class="settings"><i class="fa fa-cog"></i></a>
			<div class="vis">
				<a class="delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
	<div class="large-12 columns tcs build section close-top" ng-controller="tcsController">
		<div class="row">
			<label>Image URL
			<input type="text" class="txtinput" value="{{ break }}http://placehold.it/620x222" ng-model="tcs1src" />
			</label>
			
			<label>Caption
			<input type="text" class="txtinput" value="Caption 1" ng-model="tcs1cap" />
			</label>
			
			<label>Button Text
			<input type="text" class="txtinput" value="READ MORE" ng-model="tcs1but" />
			</label>
			 
			<label>URL
			<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="tcs1url" />
			</label>
		</div>
		<hr />
		<div class="row">
			<label>Image URL
			<input type="text" class="txtinput" value="{{ break }}http://placehold.it/620x222" ng-model="tcs2src" />
			</label>
			
			<label>Caption
			<input type="text" class="txtinput" value="Caption 2" ng-model="tcs2cap" />
			</label>
			
			<label>Button Text
			<input type="text" class="txtinput" value="READ MORE" ng-model="tcs2but" />
			</label>
			 
			<label>URL
			<input type="text" class="txtinput" value="http://www.evenflo.com" ng-model="tcs2url" />
			</label>
		</div>
		<div class="options tcs">
			<button class="source">View Source</button>
			<button class="edit disabled" disabled="true">Edit Source</button>
		</div>
	   <!--
	    	TCS Email HTML
	    -->
	    <pre><code class="tcs large-12 columns buildcode hljs html language-html" type="tcs" codeinject>
	    
	    <!--
	   <xmp type="tcs" codeinject></xmp>
	   -->
	   
	   </code></pre>
	  </div>
</div>
<!-- End Two Column Section -->